fuzzywuzzy
python-Levenshtein
pyxlsb
openpyxl
pandas
sqlalchemy
psycopg2-binary
numpy
cryptography
joblib
azure-identity
azure-keyvault-secrets

# ML / Stats libs
scikit-learn==1.5.2
imbalanced-learn==0.12.4
matplotlib==3.7.2
seaborn==0.13.2
category-encoders

# Gradient Boosting Libraries
xgboost==2.0.3
lightgbm==4.3.0
catboost==1.2.5
tensorflow==2.15.0

# Deep Learning
tensorflow==2.15.0